<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="keywords" content="bas milius,basmilius,milius,developer,website,app,latte-ui,columba,cappuccino,latte"/>
	<meta name="description" content="A 23-year old developer from Groenlo, The Netherlands."/>
	<link rel="shortcut icon" href="{{ "/module/@bas/website/resource/image/logo-32.png"|appUrl }}" type="image/png"/>
	<meta name="robots" content="index,follow"/>
	<meta name="revisit-after" content="1 day"/>
	<meta name="author" content="Bas Milius"/>
	<meta name="theme-color" content="#377DFF"/>

	<title>{% if title is defined %}{{ title|raw }} &mdash; {% endif %}Bas</title>

	<link rel="dns-prefetch" href="font.mili.us"/>

	<link rel="stylesheet" href="https://font.mili.us/css?family=gilroy:400,700|proxima-nova:400,500,600,700"/>
	<link rel="stylesheet" href="{{ "/module/@bas/website/dist/vendors.css" | appUrl }}"/>
	<link rel="stylesheet" href="{{ "/module/@bas/website/dist/website.css" | appUrl }}"/>
</head>
<body>
	<main id="app">
		{{ include("@bas-website/boilerplate/header.twig") }}
		{% block content %}{% endblock %}
		{{ include("@bas-website/boilerplate/footer.twig") }}
	</main>

	<script defer type="text/javascript" src="{{ "/module/@bas/website/dist/vendors.js" | appUrl }}"></script>
	<script defer type="text/javascript" src="{{ "/module/@bas/website/dist/website.js" | appUrl }}"></script>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "Person",
			"name": "Bas Milius",
			"url": "https://bas.dev",
			"image": "https://avatars3.githubusercontent.com/u/978257",
			"sameAs": [
				"https://www.facebook.com/basmilius",
				"https://twitter.com/basmilius",
				"https://www.instagram.com/basmilius/",
				"https://www.linkedin.com/in/basmilius/",
				"https://github.com/basmilius",
				"https://bas.dev"
			],
			"jobTitle": "Developer"
		}
	</script>

</body>
</html>
